extends ../../../../shared/project

block vars
    - const title = "Lego Head"
    - const description = "This example was made for day 12 of the Oct. 2017 Creative Sprint. The prompt was to make something inspired by a favorite childhood toy. I built a Lego figure’s head."
    - const date = "2017/10/12"

block description
    include:markdown-it readme.md

block demo
    #head
        .stud
        .face
            .eyes
                .eye
                .eye
            .smile
                .mask
        .neck
