extends ../../../../shared/project

block vars
    - var title = "Lego Head"
    - var date = "2017/10/12"

block description
    include:markdown-it readme.md

block demo
    #head
        .stud
        .face
            .eyes
                .eye
                .eye
            .smile
                .mask
        .neck
