// Home cards

@use "../shared/animate";
@use "../shared/media";
@use "../shared/style";

$box-shadow: 0px 0.5rem 1rem 0px rgba(style.color("slate"), 0.3);
$box-shadow--dark: none;

.card {
    --padding: 0;
    --box-shadow: #{$box-shadow};
    display: block;
    background-color: style.color("slate");
    box-shadow: var(--box-shadow);
    overflow: hidden;
    @include animate.transition(box-shadow, transform);

    @include media.theme("light") {
        --box-shadow: #{$box-shadow};
    }

    @include media.theme("dark") {
        --box-shadow: #{$box-shadow--dark};
    }

    &:hover,
    &:focus {
        box-shadow: none;
        transform: scale(1.1);
    }

    .wrap {
        display: flex;
        filter: none;
        @include animate.transition(filter);

        &.loading {
            filter: blur(10px);
        }

        img {
            width: 100%;
            height: auto;
            opacity: 1;
            @include animate.transition(opacity);

            &.loading {
                opacity: 0;
            }
        }
    }
}
