// Project sections

@use "../shared/media";
@use "../shared/style";

section {
    flex: 0;
    width: 0px;
    height: 0px;
    visibility: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: style.color("white");
    overflow: hidden;

    &[aria-hidden="false"] {
        flex: 1;
        width: auto;
        height: auto;
        visibility: visible;
    }

    &#description {
        padding: 2rem;
        @include style.container;
    }

    &#demo {
        width: 100%;
    }
}
