extends ../../../../pug/templates/project.pug

block vars
    - var day = 11

block demo
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
    #shadows
        .shadow
        .shadow
        .shadow
        .shadow
        .shadow
