extends ../../../../pug/templates/project.pug

block vars
    - var title = "Rainbow Loader"
    - var date = "2017/10/11"

block description
    h1=title
    p This example was made for day 11 of the October 2017 Creative Sprint. The prompt was to work together with another Creative Sprinter. Unfortunately, I did’t know anyone else who I could collaborate with, but that didn’t stop me! I got some feedback from folks, and decided to build another HTML/CSS loader with a rainbow, bouncy-ball wave.

block demo
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
    #shadows
        .shadow
        .shadow
        .shadow
        .shadow
        .shadow
