extends ../../../../shared/pug/template.pug

block vars
    - var day = 11

block content
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
    #shadows
        .shadow
        .shadow
        .shadow
        .shadow
        .shadow
