extends ../../../../pug/templates/project.pug

block vars
    - var title = "Rainbow Loader"
    - var date = "2017/10/11"

block description
    include:markdown-it readme.md

block demo
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
    #shadows
        .shadow
        .shadow
        .shadow
        .shadow
        .shadow
