extends ../../../../../pug/templates/project.pug

block vars
    - var title = "Ruby"
    - var date = "2017/10/22"

block description
    include:markdown-it readme.md

block demo
    #diamond
        .top
            .triangle
            .triangle
            .triangle
        .bottom
            .triangle
            .triangle
