// Shared reset styles

@use "modules/animate";
@use "modules/media";
@use "modules/style";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Box sizing

*,
*:before,
*:after {
    box-sizing: border-box;
}

// Root & body

:root,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

// Body

$body__background-color: style.color("white") !default;
$body__color: style.color("slate") !default;

body {
    --background-color: #{$body__background-color};
    --color: #{$body__color};
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    line-height: 1.25;
    background-color: var(--background-color);
    color: var(--color);
    overflow: hidden;

    @include media.breakpoint {
        flex-flow: column;
    }
}

// Links

$link__padding: 0.25rem !default;
$link__color: style.color("slate") !default;

a {
    --padding: #{$link__padding};
    --color: #{$link__color};
    padding: var(--padding);
    color: var(--color);
    @include animate.transition(background-color);

    &:hover,
    &:focus {
        background-color: rgba($link__color, 0.125);
    }
}

// Paragraph

p {
    margin: 0;
    text-align: center;
}
