extends ../../../../shared/project

block vars
    - const title = "Sushi"
    - const description = "This example was made for day 24 of the Oct. 2017 Creative Sprint. The prompt was to find inspiration today in a tradition of a culture other than your own for #UnitedNationsDay. I decided to make a little, minimalistic sushi to represent Japanese culture."
    - const date = "2017/10/24"
    
block description
    include:markdown-it readme.md

block demo
    #sushi
        .rice
            .seaweed
                .filling
                    .avacado
                        .piece
                        .piece
                    .salmon
