extends ../../../../shared/project

block vars
    - const title = "iPhone 7+ (Redo)"
    - const description = "This example was made for day 29 of the Oct. 2017 Creative Sprint. The prompt was to ask someone whose opinion you respect to select something from my Creative Sprint work to revise or improve upon. I asked a bunch of people, and the most feedback I got was on my day 18 prompt. I decided to add more color, design, and overall vibrancy to my CSS/HTML matte-black iPhone 7+."
    - const date = "2017/10/29"

block description
    include:markdown-it readme.md

block demo
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
                .folders
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                .dock
                    .icon.green
                    .icon.green
                    .icon.white
                    .icon.white
            .chin
                .home-btn
