extends ../../../../../pug/project.pug

block vars
    - var title = "Pint o' Beer"
    - var date = "2017/10/21"

block description
    include:markdown-it readme.md

block demo
    #glass
        .beer
            .head
