// Home grid

@use "../../shared/media";
@use "../../shared/style";

$columns: repeat(2, 1fr);
$columns--sm: repeat(3, 1fr);
$columns--md: repeat(4, 1fr);

$gap: 2rem;
$padding: 2rem;

.grid {
    --grid-template-columns: #{$columns};
    --gap: #{$gap};
    --padding: #{$padding};
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--gap);
    padding: var(--padding);
    @include style.container;

    @include media.breakpoint("sm") {
        --grid-template-columns: #{$columns--sm};
    }

    @include media.breakpoint("md") {
        --grid-template-columns: #{$columns--md};
    }

    &__item--full {
        display: flex;
        grid-column: 1/-1;
    }
}
