extends ./shared/home

include ./components/grid/index
include ./components/logo/index
include ./components/card/index

block content
    +grid
        +grid__item--full
            +logo
        +grid__item--full
            h1.sr-only Illustrative Code
            include:markdown-it description.md
        +card("2017/10/2", "Hammer & Anvil")
        +card("2017/10/4", "Plastic Bag")
        +card("2017/10/6", "Palindrome Loader")
        +card("2017/10/7", "Composition II in Red, Blue, and Yellow")
        +card("2017/10/9", "Mailbox")
        +card("2017/10/11", "Rainbow Loader")
        +card("2017/10/12", "Lego Head")
        +card("2017/10/16", "Speech Bubble")
        +card("2017/10/18", "iPhone 7+")
        +card("2017/10/21", "Pint o' Beer")
        +card("2017/10/22", "Ruby")
        +card("2017/10/23", "Mini Synthesizer")
        +card("2017/10/24", "Sushi")
        +card("2017/10/25", "Key")
        +card("2017/10/27", "Ripple Loader")
        +card("2017/10/29", "iPhone 7+ (Redo)")
        +card("2017/10/30", "Creative Sprint Trophy")
