extends ./base

include ../mixins/home/cards

block head
    include ../includes/home/head

block body
    include ../includes/home/nav
    #wrapper
        block content

block scripts
    include ../includes/home/scripts