block vars
include ../mixins/global
doctype html
html(lang="en")
    head
        include ../includes/project/head
    body
        header#header
            ul.nav
                li
                    a(href="/illustrative-code/", title="Illustrative Code home")
                        i.fa.fa-chevron-left(aria-hidden="true")
                        span.text Back
                li
                    a(href="#", title="Show description", data-toggle-section="description")
                        i.fa.fa-star(aria-hidden="true")
                        span.text Description
                li
                    a(href="#", title="Show stylesheet menu", data-toggle-section="stylesheet")
                        i.fa.fa-css3(aria-hidden="true")
                        span.text CSS
                li
                    a(href="#", title="Go to repo page")
                        i.fa.fa-github(aria-hidden="true")
                        span.text GitHub
        section(id="demo", aria-label="demo")
            block content
