block vars
include ../mixins/global
doctype html
html(lang="en")
    head
        include ../includes/project/head
    body
        header#header
            ul.nav
                li
                    +icon-link(
                        "/",
                        "Illustrative Code home",
                        "chevron-left",
                        "Back"
                    )
                li
                    +icon-link(
                        "#",
                        "Show description",
                        "align-justify",
                        "Description",
                        "description"
                    )
                li.active
                    +icon-link(
                        "#",
                        "View demo",
                        "play",
                        "Demo",
                        "demo"
                    )
                li
                    +icon-link(
                        "#",
                        "Show stylesheet menu",
                        "paint-brush",
                        "Styles",
                        "styles"
                    )
                li
                    +icon-link(
                        "#",
                        "Go to repo page",
                        "code-fork",
                        "GitHub"
                    )
        section(id="description", class="hidden", aria-label="description", aria-hidden="true")
            block description
        section(id="demo", class="visible", aria-label="demo", aria-hidden="false")
            block demo
        section(id="styles", class="hidden", aria-label="styles", aria-hidden="true")
            ul
                li
                    a(href="styles.css")
                        i.fa.fa-expand
                        | Expanded
                li
                    a(href="styles.min.css")
                        i.fa.fa-compress
                        | Minified
        include ../includes/project/scripts
