extends ../../../../shared/project

block vars
    - const title = "Palindrome Loader"
    - const description = "This example was made for day 6 of the Oct. 2017 Creative Sprint. The prompt was to use palindromes as your inspiration, so I decided to make a simple loader animation with a palindromic wave."
    - const date = "2017/10/6"

block description
    include:markdown-it readme.md

block demo
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
