// Palindrome loader styles

#loader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 60px;

    @keyframes dot {
        0% {
            height: 10px;
        } 25% {
            height: 10px;
        } 100% {
            height: 60px;
        }
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--color);
        animation: dot 0.5s infinite alternate;

        &:nth-child(2),
        &:nth-child(4) {
            animation-delay: 0.25s;
        }

        &:nth-child(3) {
            animation-delay: 0.5s;
        }
    }
}