extends ../../../../pug/templates/project.pug

block vars
    - var day = 25

block demo
    #key
        .bow
            .cutout
        .stem
        .collar
        .end
            .bit
            .pin
