extends ../../../../shared/pug/template.pug

block vars
    - var day = 25

block content
    #key
        .bow
            .cutout
        .stem
        .collar
        .end
            .bit
            .pin
