nav#nav
    ul.nav
        li
            +icon-link(
                "/",
                "Joel Eisner's homepage",
                "home",
                "Home"
            )
        li
            +icon-link(
                "https://twitter.com/joeleisner",
                "Joel Eisner's Twitter",
                "twitter",
                "Twitter"
            )
        li
            +icon-link(
                "https://instagram.com/joeleisner",
                "Joel Eisner's Instagram",
                "instagram",
                "Instagram"
            )
        li
            +icon-link(
                "https://github.com/joeleisner/illustrative-code/",
                "Project GitHub repo page",
                "code-fork",
                "GitHub"
            )
