// Mailbox styles

@use "../../../../shared/media";
@use "../../../../shared/style";

$red: #e53935;

@keyframes flag {
    0% {
        transform: rotate(0deg);
    } 2% {
        transform: rotate(-100deg);
    } 6% {
        transform: rotate(-85deg);
    } 12% {
        transform: rotate(-95deg);
    } 20% {
        transform: rotate(-90deg);
    } 60% {
        transform: rotate(-90deg);
    } 80% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(0deg);
    }
}

$box-shadow-color: rgba(style.color("slate"), 0.5);
$box-shadow-color--dark: rgba(style.color("black"), 0.5);

#mailbox {
    --box-shadow-color: #{$box-shadow-color};
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 120px;
    border-radius: 15px 15px 0 0;
    background-color: var(--color);
    box-shadow: 0px 10px 20px var(--box-shadow-color);

    @include media.theme("light") {
        --box-shadow-color: #{$box-shadow-color};
    }

    @include media.theme("dark") {
        --box-shadow-color: #{$box-shadow-color--dark};
    }

    .flag {
        display: flex;
        width: 120px;
        height: 45px;
        transform-origin: 7.5px 7.5px;
        animation: flag 5s infinite;

        * {
            background-color: $red;
        }

        .staff {
            flex: 1;
            height: 15px;
            border-radius: 15px 0 0 15px;
        }

        .fly {
            width: 30px;
            height: 45px;
        }
    }
}