extends ../../../../pug/templates/project.pug

block vars
    - var title = "Ripple Loader"
    - var date = "2017/10/27"

block description
    h1=title
    p This example was made for day 27 of the October 2017 Creative Sprint. The prompt was to make something inspired by what's inside your head right now. I couldn’t think of anything, so I guess you could say my mind was loading 🤔.

block demo
    #loader
        .circle
        .circle
