extends ../../../../pug/templates/project.pug

block vars
    - var title = "Palindrome Loader"
    - var date = "2017/10/6"

block description
    h1=title
    p This example was made for day 6 of the October 2017 Creative Sprint. The prompt was to use palindromes as your inspiration. I decided to make a simple loader animation with a palindromic wave.
block demo
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
