extends ../../../../shared/project

block vars
    - const title = "Rainbow Loader"
    - const description = "This example was made for day 11 of the Oct. 2017 Creative Sprint. I decided to build another HTML/CSS loader with a rainbow, bouncy-ball wave."
    - const date = "2017/10/11"

block description
    include:markdown-it readme.md

block demo
    #loader
        .dot
        .dot
        .dot
        .dot
        .dot
    #shadows
        .shadow
        .shadow
        .shadow
        .shadow
        .shadow
