extends ../../../../../pug/project.pug

block vars
    - var title = "iPhone 7+ (Redo)"
    - var date = "2017/10/29"

block description
    include:markdown-it readme.md

block demo
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
                .folders
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                .dock
                    .icon.green
                    .icon.green
                    .icon.white
                    .icon.white
            .chin
                .home-btn
