extends ../../../../shared/project

block vars
    - const title = "Composition II in Red, Blue, and Yellow"
    - const description = "This example was made for day 7 of the Oct. 2017 Creative Sprint. The prompt was to use recreate a famous work of art using a material and technique of your choice. I recreated Piet Mondrian’s Composition II in Red, Blue, and Yellow."
    - const date = "2017/10/7"

block description
    include:markdown-it readme.md

block demo
    #composition
        .row
            .group
                .rect-a.white
                .rect-b.white
            .rect-c.red
        .row
            .rect-d.blue
            .rect-e.white
            .group
                .rect-f.white
                .rect-g.yellow
