extends ../shared/template.pug

block vars
    - var day = 7

block content
    #composition
        .row
            .group
                .rect-a.white
                .rect-b.white
            .rect-c.red
        .row
            .rect-d.blue
            .rect-e.white
            .group
                .rect-f.white
                .rect-g.yellow
