extends ./templates/home

block content
    .container
        .row
            .col.full
                h1.sr-only Illustrative Code
                p The idea behind <strong>illustrative code</strong> is to teach the direct parallels between code and creativity while incentivizing the exploration into the world of front-end web development for designers. If anything withing this project inspires you to dive into your own piece of illustrative code, be sure to share it on <a href="https://twitter.com/hashtag/illustrativecode" target="_blank">Twitter</a> and <a href="https://www.instagram.com/explore/tags/illustrativecode/" target="_blank">Instagram</a> using the <strong>#illustrativecode</strong> hashtag.
        .row
            .col
                +card("2017/10/2", "Hammer & Anvil")
            .col
                +card("2017/10/4", "Plastic Bag")
            .col
                +card("2017/10/6", "Palindrome Loader")
            .col
                +card("2017/10/7", "Composition II in Red, Blue, and Yellow")
        .row
            .col
                +card("2017/10/9", "Mailbox")
            .col
                +card("2017/10/11", "Rainbow Loader")
            .col
                +card("2017/10/12", "Lego Head")
            .col
                +card("2017/10/16", "Speech Bubble")
        .row
            .col
                +card("2017/10/18", "iPhone 7+")
            .col
                +card("2017/10/21", "Pint o' Beer")
            .col
                +card("2017/10/22", "Ruby")
            .col
                +card("2017/10/23", "Mini Synthesizer")
        .row
            .col
                +card("2017/10/24", "Sushi")
            .col
                +card("2017/10/25", "Key")
            .col
                +card("2017/10/27", "Ripple Loader")
            .col
                +card("2017/10/29", "iPhone 7+ (Redo)")
        .row
            .col
                +card("2017/10/30", "Creative Sprint Trophy")
    footer#footer
        .container
            .row
                .col.full
                    p This site was made with <i class="fa fa-heart"><span class="sr-only">love</span></i> by Joel Eisner, and is <a href="https://www.w3.org/TR/WCAG20/" target="_blank">WCAG 2.0 AA</a> accessibile.
