extends ../../../../../pug/templates/project.pug

block vars
    - var title = "Creative Sprint Trophy"
    - var date = "2017/10/30"
    
block description
    include:markdown-it readme.md

block demo
    #trophy
        .top
            .handle.left
            .cup
            .handle.right
        .stem
            .cutout.left
            .cutout.right
        .bottom
            .step 30 days
            .step #creativesprint
