extends ../../../../pug/templates/project.pug

block vars
    - var day = 24

block demo
    #sushi
        .rice
            .seaweed
                .filling
                    .avacado
                        .piece
                        .piece
                    .salmon
