extends ../../../../shared/pug/template.pug

block vars
    - var day = 24

block content
    #sushi
        .rice
            .seaweed
                .filling
                    .avacado
                        .piece
                        .piece
                    .salmon
