extends ../../../../pug/templates/project.pug

block vars
    - var title = "Sushi"
    
block description
    h1=title
    p This example was made for day 24 of the October 2017 Creative Sprint. The prompt was to find inspiration today in a tradition of a culture other than your own for #UnitedNationsDay. I decided to make a little, minimalistic sushi to represent Japanese culture 🇯🇵.

block demo
    #sushi
        .rice
            .seaweed
                .filling
                    .avacado
                        .piece
                        .piece
                    .salmon
