extends ../../../../pug/templates/project.pug

block vars
    - var day = 22

block content
    #diamond
        .top
            .triangle
            .triangle
            .triangle
        .bottom
            .triangle
            .triangle
