extends ../../../../shared/pug/template.pug

block vars
    - var day = 30

block content
    #trophy
        .top
            .handle.left
            .cup
            .handle.right
        .stem
            .cutout.left
            .cutout.right
        .bottom
            .step 30 days
            .step #creativesprint
