extends ../shared/template.pug

block vars
    - var day = 2

block content
    #hammer
        .head
        .handle
    #anvil
        .horn
        .body
            .right-cutout
            .bottom-cutout
            .left-cutout
