extends ../../../../shared/project

block vars
    - const title = "iPhone 7+"
    - const description = "This example was made for day 18 of the Oct. 2017 Creative Sprint. The prompt was to take something you use every day and remake it using completely different materials. I built my matte-black iPhone 7+ in HTML/CSS."
    - const date = "2017/10/18"

block description
    include:markdown-it readme.md

block demo
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
            .chin
                .home-btn
