extends ../../../../pug/templates/project.pug

block vars
    - var title = "Plastic Bag"
    - var date = "2017/10/4"

block description
    include:markdown-it readme.md

block demo
    #bag
        .cutout
        ul.text
            li.outline.caps Thank you
            li.outline.caps Thank you
            li.outline.caps Thank you
            li.caps Thank you
            li.outline.caps Thank you
            li.outline.caps Thank you
            li.outline.caps Thank you
            li.tiny.right Have a nice day
