extends ../../../../pug/templates/project.pug

block vars
    - var title = "Mailbox"
    - var date = "2017/10/9"

block description
    h1=title
    p This example was made for day 9 of the October 2017 Creative Sprint. The prompt was to create something inspired by the Postal Service and their work for #worldpostday. I built a mailbox with an animated mailbox flag.

block demo
    #mailbox
        .flag
            .staff
            .fly
