extends ../../../../pug/templates/project.pug

block vars
    - var title = "Mini Synthesizer"
    - var date = "2017/10/23"
    
block description
    h1=title
    p This example was made for day 23 of the October 2017 Creative Sprint. The prompt was to make something inspired by a sound you heard that day. I decided on synthwave (80’s-sounding electronic) for that day's work-music, so I made a little mini synth (inspired by my M-Audio mini) 🎶.

block demo
    #keyboard
        .controls
            .screen
            .knobs
                .knob
                .knob
        .keys
            .key
            .key.minor
            .key
            .key.minor
            .key
            .key
            .key.minor
            .key
            .key.minor
            .key
            .key.minor
            .key
            .key
            .key.minor
            .key
            .key.minor
            .key
