extends ../../../../pug/templates/project.pug

block vars
    - var day = 23

block content
    #keyboard
        .controls
            .screen
            .knobs
                .knob
                .knob
        .keys
            .key
            .key.minor
            .key
            .key.minor
            .key
            .key
            .key.minor
            .key
            .key.minor
            .key
            .key.minor
            .key
            .key
            .key.minor
            .key
            .key.minor
            .key
