// Footer styles

@use "../../shared/media";
@use "../../shared/style";

$border-color: style.darken("white", 10%);
$border-color--dark: style.darken("slate", 8%);

$background-color: style.darken("white", 5%);
$background-color--dark: style.darken("slate", 4%);

.footer {
    --border-color: #{$border-color};
    --background-color: #{$background-color};
    width: 100%;
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color);

    @include media.theme("light") {
        --border-color: #{$border-color};
        --background-color: #{$background-color};
    }

    @include media.theme("dark") {
        --border-color: #{$border-color--dark};
        --background-color: #{$background-color--dark};
    }

    &__container {
        padding: 1rem 2rem;
        @include style.container;

        p {
            margin: 0;
        }
    }
}
