//- Footer structure
mixin footer
    footer.footer
        .footer__container
            p This site was made with <i class="fas fa-heart"><span class="sr-only">love</span></i> by Joel Eisner and is <a href="https://www.w3.org/TR/WCAG21/" rel="noopener noreferrer" target="_blank">WCAG 2.1 AAA</a> accessibile.