extends ../../../../shared/project

block vars
    - const title = "Hammer & Anvil"
    - const description = "This example was made for day 2 of the Oct. 2017 Creative Sprint. The prompt was to make something representing the origins or meanings of your name. I decided to focus on my last name (which means iron worker in German), and built an animated hammer/anvil."
    - const date = "2017/10/2"

block description
    include:markdown-it readme.md

block demo
    #hammer
        .head
        .handle
    #anvil
        .horn
        .body
            .right-cutout
            .bottom-cutout
            .left-cutout
