extends base

include ../components/footer/index

block settings
    -
        const nav = [
            {
                to: "/",
                title: "Joel Eisner's homepage",
                icon: "\uf015",
                text: "Home"
            },
            {
                to: "https://twitter.com/joeleisner",
                title: "Joel Eisner's Twitter",
                icon: "\uf099",
                family: "brands",
                text: "Twitter"
            },
            {
                to: "https://instagram.com/joeleisner",
                title: "Joel Eisner's Instagram",
                icon: "\uf16d",
                family: "brands",
                text: "Instagram"
            },
            {
                to: "https://github.com/joeleisner/illustrative-code/",
                title: "Project GitHub repo page",
                icon: "\uf126",
                text: "GitHub"
            }
        ]

block head
    //- Title
    title Illustrative Code

block body
    block content

block footer
    +footer()