extends ../../../../pug/templates/project.pug

block vars
    - var title = "Hammer & Anvil"
    - var date = "2017/10/2"

block description
    h1=title
    p This example was made for day 2 of the October 2017 Creative Sprint. The prompt was to make something representing the origins or meanings of your name. I decided to focus on my last name (which means iron worker in German), and built an animated hammer/anvil.

block demo
    #hammer
        .head
        .handle
    #anvil
        .horn
        .body
            .right-cutout
            .bottom-cutout
            .left-cutout
