extends ../../../../shared/project

block vars
    - var title = "Key"
    - var date = "2017/10/25"

block description
    include:markdown-it readme.md

block demo
    #key
        .bow
            .cutout
        .stem
        .collar
        .end
            .bit
            .pin
