// Key styles

$gold: #FBC02D;

#key {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);

    *:not(.end) {
        background-color: $gold;
    }

    .bow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 60px;
        border-radius: 100%;

        .cutout {
            width: 70px;
            height: 40px;
            border-radius: 100%;
            background-color: var(--background-color);
        }
    }

    .stem,
    .collar,
    .end {
        margin-top: -1px;
    }

    .stem {
        width: 10px;
        height: 90px;
    }

    .collar {
        width: 30px;
        height: 10px;
        border-radius: 100%;
    }

    .end {
        display: flex;
        justify-content: center;
        align-items: center;

        .bit {
            width: 30px;
            height: 30px;
            margin-right: -1px;
        }

        .pin {
            width: 10px;
            height: 60px;
            margin-right: 29px;
        }
    }
}