extends ../../../../shared/pug/template.pug

block vars
    - var day = 18

block content
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
            .chin
                .home-btn
