extends ../../../../pug/templates/project.pug

block vars
    - var title = "iPhone 7+"

block description
    h1=title
    p This example was made for day 18 of the October 2017 Creative Sprint. The prompt was to take something you use every day and remake it using completely different materials. I built my matte-black iPhone 7+ in HTML/CSS.

block demo
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
            .chin
                .home-btn
