extends ../../../../pug/templates/project.pug

block vars
    - var day = 18

block demo
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
            .chin
                .home-btn
