extends ../../../../pug/templates/project.pug

block vars
    - var title = "Composition II in Red, Blue, and Yellow"
    - var date = "2017/10/7"

block description
    h1=title
    p This example was made for day 7 of the October 2017 Creative Sprint. The prompt was to use recreate a famous work of art using a material and technique of your choice. I recreated Piet Mondrian’s “Composition II in Red, Blue, and Yellow”.

block demo
    #composition
        .row
            .group
                .rect-a.white
                .rect-b.white
            .rect-c.red
        .row
            .rect-d.blue
            .rect-e.white
            .group
                .rect-f.white
                .rect-g.yellow
