extends ../../../../pug/templates/project.pug

block vars
    - var title = "Lego Head"

block description
    h1=title
    p This example was made for day 12 of the October 2017 Creative Sprint. The prompt was to make something inspired by a favorite childhood toy. I built a Lego figure’s head.

block demo
    #head
        .stud
        .face
            .eyes
                .eye
                .eye
            .smile
                .mask
        .neck
