extends ../../../../shared/pug/template.pug

block vars
    - var day = 12

block content
    #head
        .stud
        .face
            .eyes
                .eye
                .eye
            .smile
                .mask
        .neck
