extends ../shared/template.pug

block vars
    - var day = 30

block content
    #phone
        .face
            .forehead
                .bar
                    .camera
                    .speaker
            .screen
                .folders
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                    .row
                        .icon.folder
                        .icon.folder
                        .icon.folder
                        .icon.folder
                .dock
                    .icon.green
                    .icon.green
                    .icon.white
                    .icon.white
            .chin
                .home-btn
