extends ../../../../shared/project

block vars
    - var title = "Ripple Loader"
    - var date = "2017/10/27"

block description
    include:markdown-it readme.md

block demo
    #loader
        .circle
        .circle
