extends ../../../../shared/project

block vars
    - const title = "Ruby"
    - const description = "This example was made for day 22 of the Oct. 2017 Creative Sprint. The prompt was to create something inspired by a piece of spam e-email that I recently received. I receive countless spam emails regarding the riches I will inherit from some Nigerian prince, so I decided to make a minimalistic ruby."
    - const date = "2017/10/22"

block description
    include:markdown-it readme.md

block demo
    #ruby
        .top
            .triangle
            .triangle
            .triangle
        .bottom
            .triangle
            .triangle
