extends ../../../../shared/project

block vars
    - const title = "Speech Bubble"
    - const description = "This example was made for day 16 of the Oct. 2017 Creative Sprint. The prompt was to learn a new word and create something that represents it for #nationaldictionaryday. This piece is inspired by conlang (n.) - An invented language."
    - const date = "2017/10/16"

block description
    include:markdown-it readme.md

block demo
    #bubble
        .body
            .dot
            .dot
            .dot
        .pointer
