extends ../../../../shared/project

block vars
    - var title = "Speech Bubble"
    - var date = "2017/10/16"

block description
    include:markdown-it readme.md

block demo
    #bubble
        .body
            .dot
            .dot
            .dot
        .pointer
